* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #79b2f3, #f1b46e);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.app-wrapper {
  background-color: rgba(1, 18, 46, 0.8);
  min-width: 450px;
  min-height: 650px;
  margin: 3% auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 3px 6px 40px rgb(25, 26, 25);
}

.header {
  color: #f1af71;
  text-align: center;
  margin: 30px 0;
}

.todo-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #1a1919;
  border: 1px solid #c89666;
  border-radius: 10px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #f1af71;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}

.button-complete,
.button-delete {
  margin-top: 0px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  font-size: 25px;
  overflow: hidden;
}

.button-complete {
  color: #c93e3e;
  margin-right: 10px;
  margin-left: auto;
}

.button-delete {
  color: rgb(212, 27, 27);
}

input:focus,
button:focus {
  outline: none;
}

.empty-list {
  text-align: center;
  margin-top: 15px;
  color: #f1af71;
  font-size: larger;
}
